.ng-autocompletar {
    width: 400 px ;
}


.has-error input.ng-dirty.ng-invalid, .has-error select.ng-dirty.ng-invalid  .ng-autocompletar{
    border-color: #a94442;
    background-color: #f2dede;
    color: #a94442;
    border: 2px solid #a94442; /* Aplica un borde rojo al contenedor */
}

.has-error textarea.ng-dirty.ng-invalid {
    border-color: #a94442;
    background-color: #f2dede;
    color: #a94442;
}


.has-error input.ng-dirty.ng-invalid, .has-error select.ng-dirty.ng-invalid {
    border-color: #a94442;
    background-color: #f2dede;
    color: #a94442;
    border: 2px solid #a94442; /* Aplica un borde rojo al contenedor */
}

.has-error textarea.ng-dirty.ng-invalid {
    border-color: #a94442;
    background-color: #f2dede;
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    background-color: #f2dede;
    color: #a94442;
}

.has-error .btn-group .ng-untouched {
    border-color: #a94442; 
    background-color: #f2dede;
    color: #a94442;
    border: 2px solid #a94442;
}
.has-error .btn {
    color: #303030;
}

.autocomplete-container .input-container input{
    border: 2px solid #a94442 !important;
}

.ng-autocompletar.has-error textarea.ng-dirty.ng-invalid {
    border-color: #a94442;
    background-color: #f2dede;
    color: #a94442;
    border: 2px solid #a94442;
  }
  .has-errorDiv {
    border: 2px solid #a94442b9;
    /* Otros estilos para resaltar la validez, como background-color o color, si es necesario */
  }