<div class="mt-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Control</th>
        <th>Peso en gramos</th>
        <th>Peso en tabla</th>
        <th>CHO en tabla</th>
        <th>Gramos de carbohidratos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fila of filas; let i = index">
        <td>
          <div [ngClass]="{'has-errorDiv': !fila.name}">

            <div class="ng-autocompletar" >
              <ng-autocomplete [data]="alimentos" [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate" (selected)='selectEvent(fila, $event)' #alimentosAutocomplete
              required>
            </ng-autocomplete>
          </div>
        </div>
        </td>
        <td>
          <div [ngClass]="{'has-error': !fila.pesoGramos}">
            <input type="number" [(ngModel)]="fila.pesoGramos" class="form-control" (input)="calcularCHO(fila)"
              #pesoGramosInput required>
          </div>
        </td>
        <td>
          <input type="number" [(ngModel)]="fila.pesoTabla" class="form-control" disabled readonly>
        </td>
        <td>
          <input type="number" [(ngModel)]="fila.choTabla" class="form-control" disabled readonly>
        </td>
        <td>
          <input type="number" [(ngModel)]="fila.gramosCarbohidratos" class="form-control" disabled readonly>
        </td>
        <td>
          <button type="button" (click)="quitarFila(i)" class="btn btn-outline-danger fa fa-trash-o"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="agregarFila()" class="btn btn-outline-primary"> <i class="fa fa-plus"></i> </button>
</div>
<div class="ng-autocomplete">

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.name"></a> <!-- Ajusta 'nombre' según la propiedad en tus objetos 'alimentos' -->
  </ng-template>

  <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
  </ng-template>
</div>