.table-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 4px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 12px;
}

.table th {
  background-color: #f8f8f8;
}

.table tbody tr:hover {
  background-color: #f5f5f5;
}

@media (max-width: 600px) {

  .table th:nth-child(3),
  .table td:nth-child(3) {
    display: none;
  }
}

.autocomplete-container {
  position: relative;
  z-index: 2000;
}

ion-list {
  position: absolute;
  background: white;
  z-index: 1051;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
}


.custom-modal {
  --width: 90%;
  --height: 500px;
  --max-height: 500px;
  --border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.custom-modal ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.radio-label {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

ion-searchbar.custom {
  --border-radius: 8px;
}

.segment-container-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 8px;

}

.segment-container-input.error {
  border-color: red;
  background-color: #ffe6e6;
}

.segment-container-div {
  border-color: rgb(80, 80, 80);
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

ion-searchbar {
  border-radius: 8px;
}

div {
  border-radius: 8px;
}

ion-item{
  border-radius: 8px;
}

.scroll-y {
  overflow-y: hidden;
  overscroll-behavior-y: contain;
}