<app-header [showMenu]="true" title="Registro y cálculo de CHO"></app-header>
<app-menu title="Registro y cálculo de CHO"></app-menu>

<ion-card class="scroll-x-container">
    <ion-card-content>
        <div>
            <ion-item lines="none" class="segment-general">
                <ion-label class="radio-label">Fecha:</ion-label>
            </ion-item>
            <ion-item lines="none" class="segment-general">
                <ion-datetime-button fill="outline" datetime="datetime"></ion-datetime-button>
            </ion-item>

            <ion-item lines="none">
                <div class="radio-segment">
                    <ion-label class="radio-label">Comida:</ion-label>
                    <br>
                    <div [ngClass]="{'segment-container': true, 'error': !registro.comida}">
                        <ion-segment [(ngModel)]="registro.comida" required>
                            <ion-segment-button value="Desayuno">
                                <ion-label>Desayuno</ion-label>
                            </ion-segment-button>
                            <ion-segment-button value="Almuerzo">
                                <ion-label>Almuerzo</ion-label>
                            </ion-segment-button>
                            <ion-segment-button value="Comida">
                                <ion-label>Comida</ion-label>
                            </ion-segment-button>
                        </ion-segment>
                    </div>
                </div>
            </ion-item>

            <ion-card [ngClass]="{'segment-container-table': true, 'error': !registro.totalCHO}">
                <ion-card-header>
                    <ion-title>Registro</ion-title>
                </ion-card-header>
                <ion-card-content [ngClass]="{'has-error': !validarCamposComidas()}" class="card-md">
                    <app-registro-alimentos #registroAlimentos
                        (totalCHOEvent)="actualizarTotalCHO($event)"></app-registro-alimentos>
                </ion-card-content>
            </ion-card>

            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <ion-item lines="none">
                            <ion-label position="stacked">Total CHO:</ion-label>
                            <br>
                            <ion-input type="number" [(ngModel)]="registro.totalCHO" readonly></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item lines="none">
                            <ion-label position="stacked">Insulina x CHO:</ion-label>
                            <br>
                            <ion-input type="number" [(ngModel)]="insulinas.insulinaCHO" readonly></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <ion-item lines="none">
                            <ion-label position="stacked">Glucometría Pre:</ion-label>
                            <br>
                            <div [ngClass]="{'segment-container-input': true, 'error': !glucometrias.nivelGlucosa}">
                                <ion-input type="number" [(ngModel)]="glucometrias.nivelGlucosa" placeholder="000"
                                    (ngModelChange)="insulinaxGluco()" required></ion-input>
                            </div>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item lines="none">
                            <ion-label position="stacked">Insulina x Glucometría:</ion-label>
                            <br>
                            <ion-input type="number" [(ngModel)]="insulinas.insulinaGlucometria" readonly></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-item lines="none">
                            <ion-label position="stacked">Total Insulina:</ion-label>
                            <br>
                            <ion-input type="number" [(ngModel)]="insulinas.insulinaTotal" readonly></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-row>
                <ion-col class="p-btn">
                    <ion-button color="primary" (click)="guardarDatos()">Guardar</ion-button>
                </ion-col>
                <ion-col class="p-btn">
                    <ion-button color="secondary" (click)="limpiarCampos()">Limpiar</ion-button>
                </ion-col>
            </ion-row>
        </div>
    </ion-card-content>
</ion-card>

<ion-modal [keepContentsMounted]="true">
    <ng-template>
        <ion-datetime id="datetime" [value]="fechaRegistro.toISOString()" (ionChange)="($event)"></ion-datetime>
    </ng-template>
</ion-modal>