ion-card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ion-card-header {
  background-color: #3880ff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 8px;
  --inner-padding-bottom: 8px;
}

ion-label {
  font-weight: bold;
}

ion-button {
  width: 100%;
}

ion-row {
  --ion-grid-column-padding: 0;
}

.has-error {
  border: 2px solid #ff3b30;
  border-radius: 8px;
}

.scroll-x-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;
  --color: #ddd;
  --color-checked: #6815ec;
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: #6815ec;
}

.radio-horizontal {
  display: flex;
  justify-content: space-between;
}

.radio-horizontal ion-item {
  flex: 1;
  display: flex;
  align-items: center;
  /* margin-right: 8px; */
}

.radio-horizontal ion-item:last-child {
  margin-right: 0;
}

.radio-horizontal ion-label {
  white-space: nowrap;
}

ion-segment-button {
  --indicator-color: #3880ff;
  --background-activated: #e0e0e0;
}

.radio-segment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.radio-segment ion-segment {
  --indicator-color: #3880ff;
}

.radio-segment ion-segment-button {
  --background-activated: #e0e0e0;
  font-size: 12px;
}

.radio-segment ion-segment-button.ion-activated {
  --color: white;
  --background: #3880ff;
}

.radio-segment ion-segment-button[aria-pressed="true"] {
  --color: white;
  --background: #3880ff;
}


.segment-general {
  display: flex;
  flex-direction: column;
}

.radio-label {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}


.segment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 8px;
}

.segment-container.error {
  border-color: red;
  background-color: #ffe6e6;
}

ion-grid {
  padding: 0;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
}

ion-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-input {
  --padding-start: 0;
  --padding-end: 0;
}


.segment-container-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 8px;

}

.segment-container-input.error {
  border-color: red;
  background-color: #ffe6e6;
}

.segment-container-table.error {
  border-color: red;
  background-color: #ffe6e6;
}

.p-btn{
  padding: 10px;
}